<h1>We appreciate your business!</h1>
<p>You can pay your invoice here: 
<%= link_to @payment_url, @payment_url  %></p>

<p>The page you will be taken to processes your payments via stripe and is fully PCI compliant. We do not store your card number or any sensitive information.</p>

<p>Please pay the invoice before our next session, or within 4 business days of being billed. This helps me not have to hire an accountant which would make my services cost more. Thanks!</p>
