<div class="page-header">
  <div class="pull-right">
    <span>YTD: <%= number_to_currency(Invoice.ytd) %></span>
    <span>MTD: <%= number_to_currency(Invoice.mtd) %></span>
  </div>
  <h1>Invoices <small>(<%= link_to 'create', new_invoice_path %>)</small></h1>
</div>

<form id="invoice_search_form">
<input type="text" id="invoice_search" class="form-control input-block" placeholder="Search invoices...">
<small class="pull-right">Not seeing any results? Try clearing the search box and hit the enter key.</small>
</form>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th class="hidden-xs">payee</th>
      <th>date</th>
      <th class="hidden-xs">rate</th>
      <th class="hidden-xs">minutes</th>
      <th>amount</th>
    </tr>
  </thead>

  <tbody>
    <%= render @invoices %>
  </tbody>
</table>
