<div class="row">
  <div class="page-header inline">
    <h1>Payee</h1>
    <%= link_to "Invoice payee", new_invoice_path(payee_id: @payee) %>
  </div>
</div>

<div class="row">
  <div class="group">
    <label class="control-label col-xs-4 col-sm-2" for="payee_email">payee</label>
    <div class="col-sm-6 col-xs-4"><%= @payee.email %></div>
  </div>
</div>

<div class="row">
  <div class="group">
    <label class="control-label col-sm-2 col-xs-4" for="payee_name">name</label>
    <div class="col-sm-6 col-xs-4"><%= @payee.name %></div>
  </div>
</div>
